<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Files</title>
		<link rel="stylesheet" href="/public/index.css">
	</head>
	<body>
		<div class="content">
			Files:
			<ul>
				<% for(let file of files) { %>
					<li><a href="<%=baseURL%>/download/<%=id%>/<%=encodeURIComponent(file)%>">Download</a> <a href="<%=baseURL%>/view/<%=id%>/<%=encodeURIComponent(file)%>">View</a> <%=file%></li>
				<% } %>
			</ul>
		</div>
	</body>
</html>