<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Files</title>
		<link rel="stylesheet" href="/public/index.css">
	</head>
	<body>
		<div id="dropanywhere" class="dropanywhere">
			<div>
				<div>
					Drop files anywhere to upload.
				</div>
			</div>
		</div>
		<div class="content">
			<% let link=baseURL + "/download/" + id; %>
			<h1>Code: <code><%= id %></code>
			</h1>
			<p><a href="<%= link %>">
				<%= link %>
			</a></p>
			<img class="qr" width="150" height="150"
				src="https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=<%= encodeURIComponent(link) %>">
			Files:
			<ul>
				<% for(const file of files) { %>
					<li><a href="/download/<%=id%>/<%=encodeURIComponent(file)%>">Download</a> <a href="/view/<%=id%>/<%=encodeURIComponent(file)%>">View</a> <%=file%></li>
				<% } %>
			</ul>
			<form id="uploadform" action="/upload" method="post" enctype="multipart/form-data">
				<label>
					Upload File(s):
					<input id="upload" type="file" name="upload" multiple>
				</label>
				<input type="hidden" name="id" value="<%= id %>" />
				<button id="jsdelete">Upload!</button>
			</form>
		</div>
		<div id="uploading" class="uploading fullscreen">
			<div>
				Uploading...
			</div>
		</div>
		<script src="/public/index.js" charset="utf-8"></script>
	</body>
</html>